.students-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-name {
    border-bottom: 2px solid black;
    padding: 0 10px;
}

#students {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#add-students {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--primary-black);
    border-radius: 5px;
    padding: 12px 24px;
}

#students-names {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 50px;
}

#add-student {
    color: var(--primary-black);
    height: 48px;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    outline: none;
}

#add-student-button {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--primary-black);
    border-radius: 5px;
    width: fit-content;
    padding: 12px 24px;
}
