h1 {
    font-size: 3.6rem;
    color: var(--primary-white);
    margin: 24px 0; 
}

.classroom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: var(--primary-white);
    border-radius: 30px;
    width: 80vw;
    padding: 30px;
}

.classroom > img {
    border: 1px solid var(--primary-black);
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.classroom-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-grow: 1;
}

.classroom-info > div {
    display: flex;
    align-items: center;
    gap: 60px;
}

.classroom-students, .classroom-update {
    background-color: transparent;
    border: none;
}

.classroom-students {
    text-decoration: underline;
    color: var(--link-blue);
}

.classroom-update {
    font-style: italic;
    font-weight: 700;
}

.add-classroom {
    /* display: none; */
    font-size: 3.6rem;
    text-align: center;
    position: fixed;
    bottom: 10%;
    right: 10%;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.administrator{
    display: flex;
    align-items: center;
    background-color: var(--primary-white);
    border-radius: 30px;
    width: 30vw;
    padding: 70px;
}

#classrooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

#see-users {
    text-decoration: underline;
    color: var(--link-blue);
    background-color: var(--primary-white);
    border-radius: 30px;
    padding: 12px 24px;
}

#classroom-name {
    text-align: center;
    font-size: 3.6rem;
}

#classroom-students-name {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 400px;
    width: 100%;
    padding-right: 12px;
    overflow: scroll;
}
