.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    width: 65vw;
    min-width: 700px;
    background-color: var(--primary-white);
    border-radius: 30px;
    padding: 60px 12.5%;
    margin: 10vh 0;
}

.user-form > div {
    width: 100%;
}

.user-form-input {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.user-form-input > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-form-input input {
    color: var(--primary-black);
    height: 48px;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 10px;
    padding: 12px;
    outline: none;
}

.user-form-button {
    display: flex;
    justify-content: space-evenly;
}

.user-form-button button, .user-form-button a {
    background-color: var(--secondary-background-color);
    border: 3px solid var(--primary-black);
    border-radius: 5px;
    padding: 12px 24px;
}

.user-form-check {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.user-form-check > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-form-check input {
    border-color: var(--primary-black);
    height: 30px;
    width: 30px;
}

.user-form-check input:checked::after {
    content: '';
    display: inline-block;
    background-color: var(--primary-black);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
